{% extends "base/base.html" %}
{% block header %}
    {% if type in ['view', 'edit'] %}
        {{ user.calling_name }}
    {% else %}
        Create User
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div style="margin-top: 20px" class="container-login100-form-btn alert alert-danger">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <form role="form" method="POST" action="{{ url_for('user_actions_controller.create_user') if type == 'create' else url_for('user_actions_controller.edit_user')}}">
                    <div class="card-body">
                    {% if type in ['view', 'edit'] %}
                        {{ form.id(hidden=True, value=user.id) }}
                    {% endif %}
                        <table width="100%">
                        <div style="font-size: 20px; margin-bottom: 10px;" class="text-primary"><b>Basic Information</b></div>
                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    {{ form.full_name.label }}
                                    {{ form.full_name(placeholder="Name in Full", class="form-control form-control-lg", maxlength=200, readonly=True if type=='view' else False, value=user.full_name if type in ['view', 'edit'] else False)}}
                                </div>
                            </td>
                        </tr>

                            <td colspan="3">
                                <div class="form-group">
                                    {{ form.address.label }}
                                    {{ form.address(placeholder="Address", class="form-control", maxlength=250, readonly=True if type=='view' else False, value=user.address if type in ['view', 'edit'] else False)}}
                                </div>
                            </td>
                        <tr>
                            <td width="47%">
                                <div class="form-group">
                                    {{ form.calling_name.label }}
                                    {{ form.calling_name(placeholder="Address", class="form-control", maxlength=50, readonly=True if type=='view' else False, value=user.calling_name if type in ['view', 'edit'] else False)}}
                                </div>
                            </td>


                        </tr>
                        <tr>
                            <td width="47%">
                                <div class="form-group">
                                    {{ form.nic.label }}
                                    {{ form.nic(placeholder="NIC Number", class="form-control", onchange="OnchangeNic(this.value)", maxlength=12, readonly=True if type=='view' else False, value=user.nic if type in ['view', 'edit'] else False)}}
                                </div>

                            </td>
                            <td width="47%">
                                <div class="form-group">
                                    {{ form.email.label }}
                                    {{ form.email(placeholder="Email", class="form-control", maxlength=120, type="email", readonly=True if type=='view' else False, value=user.email if type in ['view', 'edit'] else False)}}
                                </div>
                            </td>
                            <td width="6%"></td>
                            <td width="47%">

                            </td>
                        </tr>
                            <tr>
                            <td width="47%">
                                <div class="form-group">
                                    {{ form.password.label }}
                                    {{ form.password(placeholder="Password", class="form-control", maxlength=25, readonly=True if type=='view' else False, value=user.password if type in ['view', 'edit'] else False)}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="6%">
                                <div class="form-group">
                                    {{ form.contact_no.label }}
                                    {{ form.contact_no(placeholder="Contact Number", class="form-control", maxlength=20, readonly=True if type=='view' else False, value=user.contact_no if type in ['view', 'edit'] else False)}}
                                </div>
                            </td>
                            <td width="47%">

                            </td>

                        </table>
                    </div>
                    {% if type=='edit' %}
                <div style="padding: 20px;">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
                {% endif %}
                {% if type=='create' %}
                <div style="padding: 20px;">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
                {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}